* {
    box-sizing: border-box;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    margin: 0 auto;
    padding: 24px 156px;
    max-width: 1440px;
}

ul {
    padding: 0;
    list-style-type: none;
}

.gallery-image {
    display: block;
    width: 100%;
    height: 100%;
    aspect-ratio: 360/200;
}

.gallery-link {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    transition: transform 0.25s;
}

.gallery-link:hover,
.gallery-link:focus {
    transform: scale(1.04);
}